
<div class="m-0 d-flex header">
    <div class="fading-user-img fading">

    </div>
    <div class="d-flex flex-column justify-content-evenly ps-3 cursor-pointer" routerLink="/">
        <span class="fading-user-fullName fading"></span>
        <span class="fading-user-email fading"></span>
    </div>
</div>
<div style="margin-bottom: 12px;" class="d-flex">

    <div class="fading-section-btn fading"></div>
    <div class="fading-section-btn2 fading"></div>

</div>


<div class="row col-12 m-0">

    <div class="col-md-8 ">
        <div class="fading-section fading"></div>
        <div class="fading-section fading"></div>

    </div>
    <div class="col-md-4 ">
        <div class="fading-section2 fading"></div>
        <div class="fading-section3 fading"></div>

    </div>
</div>