<div class="row col-12 m-0 p-0 justify-content-center">
    <div class="main-div justify-center col-12 col-md-8 col-lg-4">

        <div class="form-div">
            <h3 class="margin-bot-16">Forgot Password</h3>
            <form role="form" (ngSubmit)="onSubmit()">
                <div class="w-100 justify-center">
                    <input type="text" class="default-input" [(ngModel)]="emailOrName" name="emailOrName" placeholder="Email or User name">

                </div>


                <div class="w-100  space-between row-reverse">

                    <button class="default-btn m-0" type="submit" [class.spinner]="loading" [disabled]="loading">Send email</button>

                </div>
                <hr>

                <div class="">

                    <a class="default-anchor" routerLink="/login">Back to Login</a>

                </div>
            </form>
        </div>
    </div>
</div>