<div class="row m-0 " style="margin-top: 14px !important;">
    <div class="col-12 col-md-12 m-0">
        <form [formGroup]="form" role="form" (ngSubmit)="onSubmit()">

            <div mat-dialog-content>
                <div>
                    <input [type]="form.value.showPasswords?'text':'password'" formControlName="password" placeholder="Current password" class="custom-input input" name="password" autocomplete="false">
                </div>

                <div formGroupName="passwords">

                    <div>
                        <input [type]="form.value.showPasswords?'text':'password'" formControlName="newPassword" placeholder="New password" class="custom-input input" name="newPassword" autocomplete="false">
                    </div>

                    <div>
                        <input [type]="form.value.showPasswords?'text':'password'" formControlName="confirmPassword" placeholder="Confirm new password" class="custom-input input" name="confirmPassword" autocomplete="false">
                    </div>

                    <label class="text-danger" *ngIf="form.get('passwords.confirmPassword').touched && form.get('passwords.confirmPassword').errors?.passwordMismatch">
                        confirm password does dot match 
                    </label>

                </div>
                <div>
                    <mat-checkbox name="showPasswords" formControlName="showPasswords">Show passwords</mat-checkbox>

                </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
                <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid || loading" [class.spinner]="loading">Change password</button>

            </div>
        </form>
    </div>
</div>